<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <description>The library's coding standard.</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="colors"/>

    <!-- Ignore warnings and show progress of the run -->
    <arg value="np"/>

    <!-- PHP version to test against -->
    <config name="php_version" value="80100"/>

    <file>./src</file>
    <file>./tests</file>

	<rule ref="./vendor/escapestudios/symfony2-coding-standard/Symfony/">
		<exclude name="Symfony.Commenting"/>
		<exclude name="Symfony.Functions.ScopeOrder"/>
		<exclude name="Symfony.Functions.Arguments.Invalid" />
		<exclude name="Symfony.Commenting.License.Warning" />
	</rule>
	<rule ref="PSR12.Properties.ConstantVisibility" />
	<rule ref="Zend.NamingConventions.ValidVariableName.MemberVarContainsNumbers">
		<exclude-pattern>*/src/Results/*</exclude-pattern>
	</rule>
	<rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Generic.PHP.RequireStrictTypes" />
	<rule ref="PEAR.Functions.FunctionCallSignature.Indent">
		<severity>0</severity>
	</rule>
</ruleset>
